target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### BUILD ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
bin/
doc/
target/
out/
.DS_Store
.vscode/settings.json
${project.build.directory}
