<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--rootLogger是默认的logger-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!--应用日志-->
    <!--这个logger没有指定appender，它会继承root节点中定义的那些appender-->
    <logger name="com.huawei" level="DEBUG"/>
    <!--SQL参数绑定日志-->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace"/>

    <!--全局的访问日志-->
    <logger name="com.alibaba.cola.catchlog" level="DEBUG"/>

</configuration>
