#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss} %highlight(%-5level) [%blue(%t)] %yellow(%C{35}): %msg%n%throwable</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--rootLogger是默认的logger-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!--应用日志-->
    <!--这个logger没有指定appender，它会继承root节点中定义的那些appender-->
    <logger name="${groupId}" level="DEBUG"/>
    <!--hibernate6以上的配置，SQL参数绑定日志-->
    <logger name="org.hibernate.SQL" level="debug"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="trace"/>

    <!--全局的访问日志-->
    <logger name="com.alibaba.cola.catchlog" level="DEBUG"/>

</configuration>
